name: Cloud functional tests
on: [push, repository_dispatch]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash
env:
  VCPKG_COMMIT_ID: 84bab45d415d22042bd0b9081aea57f362da3f35


jobs:
  azure-tests-linux:
    name: Azure tests (Linux)
    runs-on: ubuntu-latest
    env:
      VCPKG_TARGET_TRIPLET: x64-linux
      VCPKG_TOOLCHAIN_PATH: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
      GEN: Ninja
      DUCKDB_PLATFORM: linux_amd64
      BUILD_EXTENSION_TEST_DEPS: full
      ENV_AZURE: ${{ github.workspace }}/build/release/_deps/azure_extension_fc-src/scripts/env_azure

    steps:
      - name: Setup credentials
        uses: 1password/load-secrets-action@v3
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AZURE_TENANT_ID: op://testing-rw/azure/tenant_id
          AZURE_CLIENT_ID: op://testing-rw/azure/client_id
          AZURE_CLIENT_SECRET: op://testing-rw/azure/client_secret

      - name: Install required ubuntu packages
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install -y -qq software-properties-common
          sudo add-apt-repository ppa:git-core/ppa
          sudo apt-get update -y -qq
          sudo apt-get install -y -qq ninja-build make gcc-multilib g++-multilib zip unzip build-essential checkinstall curl libz-dev openssh-client

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@v1.2.11 # Note: pinned due to GLIBC incompatibility in later releases
        with:
          key: ${{ github.job }}-${{ matrix.duckdb_arch }}

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11.1
        with:
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}

      - name: Configure OpenSSL for Rust
        run: |
          echo "OPENSSL_ROOT_DIR=`pwd`/build/release/vcpkg_installed/x64-linux" >> $GITHUB_ENV
          echo "OPENSSL_DIR=`pwd`/build/release/vcpkg_installed/x64-linux" >> $GITHUB_ENV
          echo "OPENSSL_USE_STATIC_LIBS=true" >> $GITHUB_ENV

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build extension
        env:
          GEN: ninja
        run: |
          make release

      - name: Test with Service Principal (SPN) in env vars
        run: |
          ${ENV_AZURE} ./build/release/test/unittest `pwd`/test/sql/cloud/*

      - name: Test with SPN logged in in azure-cli
        env:
          DUCKDB_AZ_CLI_LOGGED_IN: 1
        run: |
          # note: first CLI login, then allow env_azure to setup several key (non secret) vars, then clear SECRET after env script
          # to prevent accidental use of env secrets.
          az login --service-principal --user="${AZURE_CLIENT_ID}" --password="${AZURE_CLIENT_SECRET}" --tenant="${AZURE_TENANT_ID}"
          ${ENV_AZURE} env -u AZURE_CLIENT_SECRET ./build/release/test/unittest "test/sql/cloud/azure_writes.test"

      - name: Test with Access Token in env vars
        run: |
          export AZURE_ACCESS_TOKEN=`az account get-access-token --resource https://storage.azure.com --query accessToken --output tsv`        
          ${ENV_AZURE} env -u AZURE_CLIENT_SECRET ./build/release/test/unittest `pwd`/test/sql/cloud/*          

      - name: Log out azure-cli
        if: always()
        run: |
          az logout

      - name: Tests that focus on public non-authenticated requests
        env:
          AZURE_STORAGE_ACCOUNT: ${{secrets.AZURE_STORAGE_ACCOUNT}}
          DUCKDB_AZURE_PUBLIC_CONTAINER_AVAILABLE: 1
        run: |
          python3 duckdb/scripts/run_tests_one_by_one.py ./build/release/test/unittest `pwd`/test/sql/cloud/*
