name: Local functional tests
on: [push, pull_request,repository_dispatch]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash
env:
  BASE_BRANCH: ${{ github.base_ref || (endsWith(github.ref, '_feature') && 'feature' || 'main') }}
  BUILD_EXTENSION_TEST_DEPS: full # NOTE: force checkout/build of httpfs in all builds
  BUILD_HTTPFS_SRC: ${{ github.workspace }}/build/release/_deps/httpfs_extension_fc-src
  GEN: ninja
  VCPKG_BINARY_SOURCES: 'clear;http,https://vcpkg-cache.duckdb.org,read'
  VCPKG_COMMIT_ID: 84bab45d415d22042bd0b9081aea57f362da3f35
  VCPKG_TARGET_TRIPLET: x64-linux # NOTE: only works cuz all linux in this file
  VCPKG_TOOLCHAIN_PATH: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake

jobs:
  azurite-tests-linux:
    name: Azurite (local azure test server) tests (Linux)
    runs-on: ubuntu-latest
    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

    steps:
      # NOTE: tag several repeat ops below with YAML anchors, keeps the sibling jobs brief and consistent
      - &checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - &ninja
        name: Install Ninja
        run: sudo apt-get update -y -q && sudo apt-get install -y -q ninja-build

      - &python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - &ccache
        uses: hendrikmuhs/ccache-action@main
        with:
          key: ${{ github.job }}

      - &vcpkg
        uses: lukka/run-vcpkg@v11.1
        with:
          vcpkgGitCommitId: ${{ env.VCPKG_COMMIT_ID }}

      - &rust
        uses: dtolnay/rust-toolchain@stable

      - &openssl_rust_context
        name: Handle OpenSSL dependency for rust build
        run: |
          echo "OPENSSL_ROOT_DIR=`pwd`/build/release/vcpkg_installed/x64-linux" >> $GITHUB_ENV
          echo "OPENSSL_DIR=`pwd`/build/release/vcpkg_installed/x64-linux" >> $GITHUB_ENV
          echo "OPENSSL_USE_STATIC_LIBS=true" >> $GITHUB_ENV

      - uses: actions/setup-node@v4
      - name: install Azure test service
        run: |
          npm install -g azurite
          sudo apt-get install -y azure-cli 

      # XXX: I suspect thi is unnecessary, let's see...
      #- name: Setup Rust for manylinux (dtolnay/rust-toolchain doesn't work due to curl being old here)
      #  run: |
      #    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      #    echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      # Build extension
      - run: make release

      - name: Launch & populate Azure test service
        run: |
          # skipApiVersionCheck -- see https://learn.microsoft.com/en-us/rest/api/storageservices/versioning-for-the-azure-storage-services
          azurite --skipApiVersionCheck > azurite_log.txt 2>&1 &
          sleep 10
          ./scripts/upload_test_files_to_azurite.sh

      - run: make test

      - name: Azure test server log
        if: always()
        run: |
          echo "## azurite"
          cat azurite_log.txt || true

  minio-tests-linux:
    name: Minio (local S3 test server) tests (Linux)
    runs-on: ubuntu-latest
    env:
      S3_TEST_SERVER_AVAILABLE: 1

    steps:
      - *checkout
      - name: Checkout DuckDB to version
        if: ${{ matrix.duckdb_version != '<submodule_version>'}}
        run: |
          cd duckdb
          git checkout ${{ matrix.duckdb_version }}
      - *python
      - *ninja
      - *ccache
      - *vcpkg
      - *rust
      - *openssl_rust_context
      - run: make release

      - name: Start S3/HTTP test server
        run: |
          # deal with odd dpkg/apt conflict
          sudo apt purge containerd containerd.io docker docker-cli
          sudo apt install docker-cli
          cd duckdb
          # NOTE: fake attach.db and link docker yml to make the minio script happy
          rm -rf test/test_data
          mkdir -p test/test_data
          touch test/test_data/attach.db
          # finally set up minio
          ln -s ${BUILD_HTTPFS_SRC}/scripts/minio_s3.yml scripts/minio_s3.yml
          sudo "${BUILD_HTTPFS_SRC}/scripts/install_s3_test_server.sh"
          source "${BUILD_HTTPFS_SRC}/scripts/run_s3_test_server.sh"
          sleep 30

      - run: ./scripts/create_minio_credential_file.sh
      - run: scripts/env_minio scripts/upload_test_files_to_minio.sh
      - run: make test
      - run: scripts/env_minio build/release/test/unittest "*/test/sql/cloud/minio_local/*"

  generated-tests-linux:
    name: Generated Tests (Linux)
    runs-on: ubuntu-latest
    steps:
      - *checkout
      - *ninja
      - *python
      - *ccache
      - *vcpkg
      - *rust
      - *openssl_rust_context
      - run: make generate-data release unpack-golden-tables-release
      - run: |
          env GENERATED_DATA_AVAILABLE=1 GOLDEN_TABLES_PATH=data/unpacked_golden_tables \
          make test_release

  regression-test-benchmark-runner:
    name: Performance Regression Tests
    runs-on: ubuntu-latest
    env:
      BUILD_BENCHMARK: 1
    if: false # FIXME: @benfleis - disabling to unblock v1.5 progress - https://github.com/duckdblabs/duckdb-internal/issues/7233

    steps:
      - *checkout
      - *ninja
      - *python
      - *ccache
      - *vcpkg
      - *rust
      - *openssl_rust_context

      - name: Build checked out
        run: |
          make release
          rm -rf build/release/rust

      - name: Build ${{ env.BASE_BRANCH }} branch
        run: | 
          git clone --branch ${{ env.BASE_BRANCH }} https://github.com/duckdb/duckdb-delta.git --depth=1 
          cd duckdb-delta
          git submodule update --init --recursive
          make release
          rm -rf build/release/rust

      - run: make generate-data

      - name: Regression Test TPC-H
        run: |
          python3 ./duckdb/scripts/regression/test_runner.py --old=duckdb-delta/build/release/benchmark/benchmark_runner --new=build/release/benchmark/benchmark_runner --benchmarks=.github/regression/tpch_sf1_local.csv --verbose --threads=2 --root-dir=.

      - name: Regression Test TPC-DS
        run: |
          python ./duckdb/scripts/regression/test_runner.py --old=duckdb-delta/build/release/benchmark/benchmark_runner --new=build/release/benchmark/benchmark_runner --benchmarks=.github/regression/tpcds_sf1_local.csv --verbose --threads=2 --root-dir=.

      # FIXME: re-enable
#      - name: Regression Test Micro
#        run: |
#          python ./duckdb/scripts/regression/test_runner.py --old=duckdb-delta/build/release/benchmark/benchmark_runner --new=build/release/benchmark/benchmark_runner --benchmarks=.github/regression/micro.csv --verbose --threads=2 --root-dir=.

      - name: Test benchmark makefile
        run: |
          make bench-run-tpch-sf1
          make bench-run-tpcds-sf1
