#
# This workflow calls the main distribution pipeline from DuckDB to build, test and (optionally) release the extension
#
name: Main Extension Distribution Pipeline
on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true

jobs:
  duckdb-stable-build:
    name: Build extension binaries
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@main
    secrets: inherit # required for writing to vcpkg binary cache
    with:
      # Main config
      extension_name: &ext_name delta
      duckdb_version: &duckdb_ref v1.5-variegata
      ci_tools_version: &ci_tools_ref main
      enable_rust: true
      rust_logs: true
      exclude_archs: 'wasm_mvp;wasm_eh;wasm_threads;windows_amd64_rtools;windows_amd64_mingw;linux_amd64_musl'

      # Config to write vcpkg binary cache
      extra_toolchains: ${{ github.event_name != 'pull_request' && ';downgraded_aws_cli;python3;' || 'python3' }}
      save_cache: ${{ github.event_name != 'pull_request' }}
      vcpkg_binary_sources: ${{ github.event_name != 'pull_request' && vars.VCPKG_BINARY_SOURCES || '' }}
      reduced_ci_mode: ${{ github.event_name == 'pull_request' && 'enabled' || 'disabled'}}


  duckdb-stable-deploy:
    name: Deploy extension binaries
    needs: duckdb-stable-build
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_deploy.yml@main
    secrets: inherit
    with:
      extension_name: *ext_name
      duckdb_version: *duckdb_ref
      ci_tools_version: *ci_tools_ref
      exclude_archs: 'wasm_mvp;wasm_eh;wasm_threads;windows_amd64_rtools;windows_amd64_mingw;linux_amd64_musl'
      # deploy_latest: ${{ startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main' }}
      deploy_versioned: ${{ startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main' }}
      reduced_ci_mode: ${{ github.event_name == 'pull_request' && 'enabled' || 'disabled'}}

  code-quality-check:
    name: Code Quality Check
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_code_quality.yml@main
    with:
      extension_name: *ext_name
      duckdb_version: *duckdb_ref
      ci_tools_version: *ci_tools_ref
      format_checks: format 
      extra_toolchains: 'python3'
